.git
.github
.venv
venv
build
dist
site
outputs
htmlcov
*.egg-info
src/*.egg-info
**/__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
notebooks/outputs
notebooks/examples/Outputs
*.log
*.tmp
.DS_Store
